<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Compras</title>
</head>
<body>
    <%- include('partials/nav'); %>
   <h1>Nome: <%= person %></h1>
   <h1>Idade: <%= data.age %></h1>
   <h1>Emprego: <%= data.job %></h1>
   
   


</body>
</html>